<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="legals">
          <li>Copyright &#169 Creative One LLC.  All Right reserved.</li>
        </ul>
      </div>
      <div class="col-md-6 credit">
        <p></p>
      </div>
    </div>
  </div>
</footer>