<section class="hero" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-right navicon">
        <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center inner">
        <h1 class="animated fadeInDown">EPITO<span>ME</span></h1>
        <p class="animated fadeInUp delay-05s">Discover, define, develop and deliver <em>your best self/your ideal you</em></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <a href="#features" class="learn-more-btn">Learn More</a>
      </div>
    </div>
  </div>
</section>