<section class="features text-center section-padding" id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="arrow">Define and Deliver the Ideal You</h1>
        <div class="features-wrapper">
          <div class="col-md-4 wp2">
            <div class="icon">
              <i class="fa fa-laptop shadow"></i>
            </div>
            <h2>Career Direction</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
            primis in faucibus.</p>
          </div>
          <div class="col-md-4 wp2 delay-05s">
            <div class="icon">
              <i class="fa fa-code shadow"></i>
            </div>
            <h2>Find Meaning in Your Work</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
            primis in faucibus.</p>
          </div>
          <div class="col-md-4 wp2 delay-1s">
            <div class="icon">
              <i class="fa fa-heart shadow"></i>
            </div>
            <h2>Discover Yourself</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
            primis in faucibus.</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>